<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101481179434-edcgj11qlmqqg40p4pg8nbe2c6pkovdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101481179434-edcgj11qlmqqg40p4pg8nbe2c6pkovdk</string>
	<key>API_KEY</key>
	<string>AIzaSyApGyN-rWl-Zkx6gu-Wh7TrcALvix9IcLg</string>
	<key>GCM_SENDER_ID</key>
	<string>101481179434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sololuxury</string>
	<key>PROJECT_ID</key>
	<string>sololuxury-b7ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>sololuxury-b7ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101481179434:ios:bb694a2eb7fb3133935653</string>
</dict>
</plist>